<!DOCTYPE HTML>
<html>
<head>
<title>Sensor 43 data: Garrage</title>
</head>
<h2>Sensor 43 data: Garrage</h2>
Wed Jun 19: 08    T=66.7    H=87.7    Dark=0.0<BR>
Wed Jun 19: 07    T=67.1    H=86.9    Dark=0.0<BR>
Wed Jun 19: 06    T=67.3    H=86.9    Dark=0.0<BR>
Wed Jun 19: 05    T=67.1    H=87.6    Dark=0.0<BR>
Wed Jun 19: 04    T=67.4    H=88.1    Dark=0.0<BR>
Wed Jun 19: 03    T=67.6    H=87.4    Dark=0.0<BR>
Wed Jun 19: 02    T=67.6    H=88.0    Dark=0.0<BR>
Wed Jun 19: 01    T=67.8    H=87.9    Dark=0.0<BR>
Wed Jun 19: 00    T=68.2    H=87.5    Dark=0.0<BR>
Tue Jun 18: 23    T=68.0    H=88.0    Dark=0.0<BR>
Tue Jun 18: 22    T=68.7    H=87.1    Dark=0.0<BR>
Tue Jun 18: 21    T=68.3    H=87.2    Dark=0.0<BR>
Tue Jun 18: 20    T=68.5    H=87.8    Dark=0.0<BR>
Tue Jun 18: 19    T=68.7    H=87.7    Dark=0.0<BR>
Tue Jun 18: 18    T=68.5    H=87.1    Dark=0.0<BR>
Tue Jun 18: 17    T=68.7    H=86.5    Dark=0.0<BR>
Tue Jun 18: 16    T=68.3    H=86.0    Dark=0.0<BR>
Tue Jun 18: 15    T=68.3    H=78.2    Dark=0.0<BR>
Tue Jun 18: 14    T=68.5    H=77.8    Dark=0.0<BR>
Tue Jun 18: 13    T=68.2    H=78.2    Dark=0.0<BR>
Tue Jun 18: 12    T=68.2    H=78.3    Dark=0.0<BR>
Tue Jun 18: 11    T=68.2    H=77.5    Dark=0.0<BR>
Tue Jun 18: 10    T=67.8    H=78.3    Dark=0.0<BR>
Tue Jun 18: 09    T=67.8    H=78.7    Dark=0.0<BR>
Tue Jun 18: 08    T=67.8    H=78.1    Dark=0.0<BR>
Tue Jun 18: 07    T=67.6    H=78.5    Dark=0.0<BR>
Tue Jun 18: 06    T=68.3    H=77.6    Dark=0.0<BR>
Tue Jun 18: 05    T=68.0    H=78.6    Dark=0.0<BR>
Tue Jun 18: 04    T=68.5    H=78.3    Dark=0.0<BR>
Tue Jun 18: 03    T=68.9    H=78.0    Dark=0.0<BR>
Tue Jun 18: 02    T=68.7    H=78.7    Dark=0.0<BR>
Tue Jun 18: 01    T=69.6    H=77.7    Dark=0.0<BR>
Tue Jun 18: 00    T=69.2    H=78.2    Dark=0.0<BR>

</html>
