<!DOCTYPE HTML>
<html>
<head>
<title>T RH data R</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Temperature Dashboard: 10:30:15 PM</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary align-right" href="../thrplot">Plot</a>
  </form>
  <form class="form-inline">
    <a class="btn btn-outline-primary align-right" href="../source">Source</a>
  </form>
</nav>
<br>
<div class="container-fluid">
<section class="row text-center placeholders">
<div style="font-size: x-large;" class="col-6 col-sm-4 placeholder">
    <div style="border-color:#ff4444" class="card">
      <div style="background-color:#ff4444" class="card-header">
        <h4 class="card-title text-white">Outside</h4>
      </div>
      <div class="card-body">
        <h1 class="card-subtitle mb-2">41.4&deg;</h1>
        <h5 class="text-muted">Relative Humidity: 99.9%</h5>
        <h5 class='text-muted'>Dew Point: 41.4&deg;</h5>
<h5 class='text-muted'>Dark: 963<h5/>
      </div>
    </div>
  </div>

<div style="font-size: x-large;" class="col-6 col-sm-4 placeholder">
    <div style="border-color:#aa66cc" class="card">
      <div style="background-color:#aa66cc" class="card-header">
        <h4 class="card-title text-white">Garage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-subtitle mb-2">57.5&deg;</h1>
        <h5 class="text-muted">Relative Humidity: 74.6%</h5>
        <h5 class='text-muted'>Dew Point: 49.5&deg;</h5>
<h5 class='text-muted'>Pressure: 29.88 0.00/hr;</h5>
      </div>
    </div>
  </div>
</section><br><h2>History: Outside</h2>
<div class="table-responsive">
  <table class="table table-striped" style="font-size: xx-large;">
    <thead>
      <tr>
        <th>Date</th>
        <th>Max</th>
        <th>Min</th>
      </tr>
    </thead>
    <tbody>
    
<tr>
    <td>Tue Nov 19</td>
    <td><font size='16' color='#ff4444'>43.9&deg </font>(03:05p)</td>
    <td><font size='16' color='#4285F4'>39.9&deg </font>(07:40a)</td>
</tr>

<tr>
    <td>Mon Nov 18</td>
    <td><font size='16' color='#ff4444'>39.4&deg </font>(05:00p)</td>
    <td><font size='16' color='#4285F4'>34.2&deg </font>(12:00a)</td>
</tr>

<tr>
    <td>Sun Nov 17</td>
    <td><font size='16' color='#ff4444'>36.0&deg </font>(02:05p)</td>
    <td><font size='16' color='#4285F4'>24.4&deg </font>(03:10a)</td>
</tr>

<tr>
    <td>Sat Nov 16</td>
    <td><font size='16' color='#ff4444'>39.4&deg </font>(12:25a)</td>
    <td><font size='16' color='#4285F4'>25.9&deg </font>(11:55p)</td>
</tr>

<tr>
    <td>Fri Nov 15</td>
    <td><font size='16' color='#ff4444'>48.2&deg </font>(01:40p)</td>
    <td><font size='16' color='#4285F4'>30.6&deg </font>(06:40a)</td>
</tr>

<tr>
    <td>Thu Nov 14</td>
    <td><font size='16' color='#ff4444'>39.0&deg </font>(01:25p)</td>
    <td><font size='16' color='#4285F4'>20.5&deg </font>(06:10a)</td>
</tr>

<tr>
    <td>Wed Nov 13</td>
    <td><font size='16' color='#ff4444'>30.7&deg </font>(01:30p)</td>
    <td><font size='16' color='#4285F4'>20.3&deg </font>(06:55a)</td>
</tr>

<tr>
    <td>Tue Nov 12</td>
    <td><font size='16' color='#ff4444'>41.4&deg </font>(12:05a)</td>
    <td><font size='16' color='#4285F4'>25.3&deg </font>(11:55p)</td>
</tr>

<tr>
    <td>Mon Nov 11</td>
    <td><font size='16' color='#ff4444'>50.0&deg </font>(01:50p)</td>
    <td><font size='16' color='#4285F4'>38.7&deg </font>(03:25a)</td>
</tr>

<tr>
    <td>Sun Nov 10</td>
    <td><font size='16' color='#ff4444'>48.9&deg </font>(01:40p)</td>
    <td><font size='16' color='#4285F4'>29.5&deg </font>(01:45a)</td>
</tr>

<tr>
    <td>Sat Nov 09</td>
    <td><font size='16' color='#ff4444'>38.5&deg </font>(02:00p)</td>
    <td><font size='16' color='#4285F4'>25.7&deg </font>(05:50a)</td>
</tr>

<tr>
    <td>Fri Nov 08</td>
    <td><font size='16' color='#ff4444'>39.2&deg </font>(12:00a)</td>
    <td><font size='16' color='#4285F4'>28.4&deg </font>(11:35p)</td>
</tr>

<tr>
    <td>Thu Nov 07</td>
    <td><font size='16' color='#ff4444'>55.0&deg </font>(01:45p)</td>
    <td><font size='16' color='#4285F4'>36.3&deg </font>(02:00a)</td>
</tr>

<tr>
    <td>Wed Nov 06</td>
    <td><font size='16' color='#ff4444'>51.6&deg </font>(01:40p)</td>
    <td><font size='16' color='#4285F4'>37.2&deg </font>(11:55p)</td>
</tr>

<tr>
    <td>Tue Nov 05</td>
    <td><font size='16' color='#ff4444'>55.4&deg </font>(10:55a)</td>
    <td><font size='16' color='#4285F4'>40.6&deg </font>(01:50a)</td>
</tr>

<tr>
    <td>Mon Nov 04</td>
    <td><font size='16' color='#ff4444'>51.4&deg </font>(01:35p)</td>
    <td><font size='16' color='#4285F4'>35.2&deg </font>(06:10a)</td>
</tr>

<tr>
    <td>Sun Nov 03</td>
    <td><font size='16' color='#ff4444'>53.1&deg </font>(01:50p)</td>
    <td><font size='16' color='#4285F4'>35.8&deg </font>(06:00a)</td>
</tr>

<tr>
    <td>Sat Nov 02</td>
    <td><font size='16' color='#ff4444'>49.8&deg </font>(02:30p)</td>
    <td><font size='16' color='#4285F4'>34.0&deg </font>(07:00a)</td>
</tr>

<tr>
    <td>Fri Nov 01</td>
    <td><font size='16' color='#ff4444'>69.3&deg </font>(02:25a)</td>
    <td><font size='16' color='#4285F4'>40.8&deg </font>(11:55p)</td>
</tr>

<tr>
    <td>Thu Oct 31</td>
    <td><font size='16' color='#ff4444'>68.5&deg </font>(07:55p)</td>
    <td><font size='16' color='#4285F4'>57.9&deg </font>(12:00a)</td>
</tr>

<tr>
    <td>Wed Oct 30</td>
    <td><font size='16' color='#ff4444'>64.2&deg </font>(02:20p)</td>
    <td><font size='16' color='#4285F4'>52.9&deg </font>(01:05a)</td>
</tr>

<tr>
    <td>Tue Oct 29</td>
    <td><font size='16' color='#ff4444'>56.1&deg </font>(01:25p)</td>
    <td><font size='16' color='#4285F4'>49.3&deg </font>(04:05a)</td>
</tr>

<tr>
    <td>Mon Oct 28</td>
    <td><font size='16' color='#ff4444'>54.9&deg </font>(02:05p)</td>
    <td><font size='16' color='#4285F4'>48.4&deg </font>(04:30a)</td>
</tr>

<tr>
    <td>Sun Oct 27</td>
    <td><font size='16' color='#ff4444'>52.7&deg </font>(07:20p)</td>
    <td><font size='16' color='#4285F4'>45.1&deg </font>(12:05a)</td>
</tr>

<tr>
    <td>Sat Oct 26</td>
    <td><font size='16' color='#ff4444'>57.9&deg </font>(02:15p)</td>
    <td><font size='16' color='#4285F4'>45.1&deg </font>(11:40p)</td>
</tr>

<tr>
    <td>Fri Oct 25</td>
    <td><font size='16' color='#ff4444'>61.9&deg </font>(01:25p)</td>
    <td><font size='16' color='#4285F4'>47.1&deg </font>(07:00a)</td>
</tr>

<tr>
    <td>Thu Oct 24</td>
    <td><font size='16' color='#ff4444'>63.7&deg </font>(03:00p)</td>
    <td><font size='16' color='#4285F4'>43.3&deg </font>(07:00a)</td>
</tr>

<tr>
    <td>Wed Oct 23</td>
    <td><font size='16' color='#ff4444'>64.4&deg </font>(02:10p)</td>
    <td><font size='16' color='#4285F4'>49.5&deg </font>(10:20p)</td>
</tr>

<tr>
    <td>Tue Oct 22</td>
    <td><font size='16' color='#ff4444'>58.8&deg </font>(12:05p)</td>
    <td><font size='16' color='#4285F4'>47.5&deg </font>(01:30a)</td>
</tr>

<tr>
    <td>Mon Oct 21</td>
    <td><font size='16' color='#ff4444'>61.3&deg </font>(02:20p)</td>
    <td><font size='16' color='#4285F4'>48.0&deg </font>(11:25p)</td>
</tr>

<tr>
    <td>Sun Oct 20</td>
    <td><font size='16' color='#ff4444'>58.5&deg </font>(02:10p)</td>
    <td><font size='16' color='#4285F4'>38.7&deg </font>(07:20a)</td>
</tr>

</html>
