<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Temperature Graph</title>
	<link href="static/examples.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="static/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="static/flot/jquery.flot.js"></script>
	<script type="text/javascript">

	$(function() {

		var tval = [
[24,29.93], [23,29.94], [22,29.94], [21,29.92], [20,29.9], [19,29.89], [18,29.87], [17,29.84], [16,29.82], [15,29.8], [14,29.78], [13,29.75], [12,29.75], [11,29.76], [10,29.76], [9,29.74], [8,29.72], [7,29.69], [6,29.66], [5,29.63], [4,29.59], [3,29.55], [2,29.5], [1,29.44], [0,29.42], 		];

		var plot = $.plot("#placeholder", [
			{ data: tval, label: "P"}
		], {
			series: {
				lines: {
					show: true
				},
				points: {
					show: true
				}
			},
			grid: {
				hoverable: true,
				clickable: true
			},
			//yaxis: {
			//	min: -1.2,
			//	max: 1.2
			//}
		});

		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fee",
			opacity: 0.80
		}).appendTo("body");

		$("#placeholder").bind("plothover", function (event, pos, item) {

			if ($("#enablePosition:checked").length > 0) {
				var x=(pos.x + 24)%24;
				var ampm = "a";
				if (x >= 12) {
					ampm = "p";
				}
				x = x % 12;
				var xh = Math.floor(x);
				var xm = (x - xh)*60;
				if (xh == 0)
					xh=12;

				var str = "( at " + xh.toFixed(0) +":" + xm.toFixed(0)+ ampm + ", P=" + pos.y.toFixed(2) + " inHg)";
				$("#hoverdata").text(str);

			}

			if (item) {
				var x = item.datapoint[0],
					y = item.datapoint[1].toFixed(2);
				x = (x+24) % 24;
				var ampm = "a";
				if (x >= 12) {
					ampm = "p";
				}
				x = x % 12;
				if (x >= 0 && x < 1.0) {
                                           x += 12;
                                }
				x = x.toFixed(2) + ampm;

				$("#tooltip").html(item.series.label + " at " + x + " = " + y + " inHg")
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);

			}
		});

		$("#placeholder").bind("plotclick", function (event, pos, item) {
			if (item) {
				$("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
				plot.highlight(item.series, item.datapoint);
			}
		});
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Hourly Pressure Plot</h2>
	</div>
 <a href="darkp">Dark</a> <a href="tempp">Temperature</a><h3>Nov 25 2019   <a href="prev">Prev</a>  <a href="inoutr">Home</a>   <a href="next">Next</a></h3>
	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>Try pointing and clicking on the points.</p>

		<p>
			<label><input id="enablePosition" type="checkbox" checked="checked"></input>Show mouse position</label>
			<span id="hoverdata"></span>
			<span id="clickdata"></span>
		</p>
	</div>
</body>
</html>
